*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --step-0: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
  --step-1: clamp(0.9rem, calc(0.76rem + 0.72vw), 1.31rem);
  --step-2: clamp(1.08rem, calc(0.77rem + 1.55vw), 1.97rem);
  --step-3: clamp(1.3rem, calc(0.72rem + 2.88vw), 2.95rem);

  --green: #00e477;
}

h1 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: var(--step-3);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 0;
}

.round-info {
  font-family: Montserrat;
  margin-top: 12px;
  line-height: 1;
}

.round-number {
  font-weight: 300;
}

.round-name {
  font-weight: 600;
  font-size: var(--step-1);
  margin-top: 4px;
  margin-bottom: 0;
}

.card {
  font-size: var(--step-1);
  line-height: 1.3;
  padding: 4rem;
}

.session-info + .session-info {
  margin-top: 20px;
}

.session-name {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

#__nuxt {
  display: grid;
  grid-template-areas: "stack";
  background-color: black;
  min-height: 100vh;
}

#__nuxt > * {
  grid-area: stack;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.1) saturate(0.8);
}

.content {
  /* create a new stacking context 
  to be on top of background image */
  isolation: isolate;

  text-align: center;
  font-size: var(--step-0);
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  align-items: center;
}

footer {
  font-size: var(--step-0);
  font-family: Montserrat;
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-family: Yantramanav;
  margin-inline: auto;
}

[data-state="past"] {
  color: grey;
}

[data-state="future"] {
  color: white;
}

[data-state="next"] .session-name::after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: "next";
  padding: 0.1rem 0.5rem;
  border: 1px green solid;
  border-radius: 4px;
  color: white;
  background-color: green;
  font-size: var(--step-0);
  translate: 100% 0;
}

[data-state="next"] .session-name {
  color: green;
}

.relative {
  text-transform: capitalize;
}

.chevron {
  height: 100%;
  font-size: var(--step-2);
}

.chevron[data-state="disabled"] {
  color: #303030;
}

.chevron:not([data-state="disabled"]) {
  cursor: pointer;
}
